<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/Nav.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main-nav">
        <div class="main-nav-upper">
            <p>“He’s one of a <span>kind</span> and he’s all <span>mine!”</span></p>
            <div class="main-upper-child">
                <li>
                    <a href="">
                        <i class="fa fa-headset"></i>
                        support
                    </a>
                </li>
                <p>|</p>
                <li>
                    <a href="">
                        <i class="fa fa-money-bill-wave"></i>
                        support
                    </a>
                </li>
            </div>
        </div>

        <div class="main-nav-centre">
            <div class="main-nav-centre-image">
                <img height="100" src="https://www.dsource.in/sites/default/files/gallery/861/12.jpg" alt="">
            </div>
            <div class="main-nav-centre-nav">
                <ul>
                    <li>
                        <a href="">HOME</a>
                    </li>

                    <li>
                        <a href="">SHOP</a>
                    </li>

                    <div class="analog">
                        <a class="greater" href="/Analog.html ">CATEGORY <i class="ri-arrow-drop-down-line"></i></a>
                        <div class="nav-one">
                            <div class="nav-box navbar">
                                <p> Accessories</p>
                                <p>Arts</p>
                                <p>Cards</p>
                                <p>Clothing</p>
                                <p>Confectionery</p>

                            </div>
                            <div class="nav-box navbar1 ">
                                <p> Collectibles</p>
                                <p>Cosmetics</p>
                                <p> Digital</p>
                                <p>Handicrafts</p>
                                <p> Home Decor</p>

                            </div>
                            <div class="nav-box ">
                                <p>Jewellery</p>
                                <p>Stationery</p>
                                <p>Toys</p>
                                <p>Unique</p>
                                <p>All</p>
                            </div>

                            <div class="nav-box navbar2">
                                <button>Shop Accesories</button>
                            </div>

                        </div>

                    </div>

                    <div class="analogy">
                        <a class="greatering" href=" ">For <i class="ri-arrow-drop-down-line"></i></a>
                        <div class="nav-two">
                            <div class="nav-box navbar3">
                                <li>Shop All</li>
                                <li>Essential Tees</li>
                                <li>Graphic Tees</li>
                                <li>Best Sellers</li>
                                <li>Womens</li>
                                <li>Hats</li>
                                <li>Bundles</li>


                            </div>
                            <div class="nav-box navbar4 ">
                                <button>Mens Essentials Tees</button>
                            </div>
                            <div class="nav-box navbar5">
                                <button>Womens Essential Tees</button>
                            </div>
                        </div>

                    </div>

                    <div class="analogyy">
                        <a class="greaterr" href=" ">OCCASION <i class="ri-arrow-drop-down-line"></i></a>
                        <div class="nav-three">
                            <div class="nav-box navbar3">
                                <li>Shop All</li>
                                <li>Analog</li>
                                <li>Workspace</li>
                                <li>Home</li>
                                <li>Gather</li>
                            </div>
                            <div class="nav-box navbar6 ">
                                <button>Mens Essentials Tees</button>
                            </div>
                            <div class="nav-box navbar7">
                                <button>Womens Essential Tees</button>
                            </div>
                        </div>
                    </div>
                    <li>
                        <a href="">BLOG</a>
                    </li>
            </div>
            </ul>
            <div class="main-nav-centre-right">
                <div class="header">
                    <a href=""><i class="fa fa-user"></i>
                    </a>
                </div>
                <div class="header">
                    <a href=""><i class="fa fa-search"></i>
                    </a>
                </div>

                <div class="header">
                    <a href=""><i class="fa fa-heart"></i>
                    </a>
                </div>

                <div class="header">
                    <a href=""><i class="fa fa-shopping-cart"></i>
                    </a>
                </div>
            </div>


        </div>


    </div>
    </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>

</html>